body {
background-color: black;
}

#titulo {
    background-color: white;
    color: blue;
    font-style: italic;
    text-align: center;
    width: 320px;
  padding: 10px;
  border: 5px solid gray;
  margin: 0;
} 
.titulo2 {
    background-color: white;
    color: rgb(51, 255, 0);
    font-style: italic;
    text-align: center;
    width: 320px;
    padding: 10px;
    border: 5px solid gray;
    margin: 1; 
}